<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.pj.sys.dao.SysRoleDao">

    <update id="updateObject"
            parameterType="com.cy.pj.sys.entity.SysRole">
        update sys_roles
        set
        name=#{name},
        note=#{note},
        modifiedUser=#{modifiedUser},
        modifiedTime=now()
        where id=#{id}
    </update>

    <!-- resultMap元素用于定义mybatis中高级映射方式，例如多表关联映射 -->
    <resultMap type="com.cy.pj.sys.vo.SysRoleMenuVo" id="sysRoleMenuVo">
        <id property="id" column="id"/>
        <!-- collection 应用于one2many查询 ,在当前应用中，是基于角色id再次查询
                               菜单id，并将查询的结果映射到menuIds属性中-->
        <collection property="menuIds"
                    column="id"
                    select="com.cy.pj.sys.dao.SysRoleMenuDao.findMenuIdsByRoleId"/>
    </resultMap>
    <!-- 基于id查询角色自身信息以及角色对应的菜单信息,本此方案采用的嵌套查询：
              我们首先会查询角色自身信息，然后我们基于角色id再查询角色对应的菜单id -->
    <select id="findObjectById" resultMap="sysRoleMenuVo">
        select id,name,note
        from sys_roles
        where id=#{id}
    </select>

    <!-- useGeneratedKeys 表示使用insert操作的自增主键值
         keyProperty表示将获取的自增主键值赋值给参数对象的id属性-->
    <insert id="insertObject"
            parameterType="com.cy.pj.sys.entity.SysRole"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into sys_roles
        (id,name,note,createdTime,modifiedTime,
        createdUser,modifiedUser)
        values
        (null,#{name},#{note},now(),now(),
        #{createdUser},#{modifiedUser})
    </insert>

    <sql id="queryWhereId">
        from sys_roles
        <where>
            <if test="name!=null and rname!=''">
                name like concat("%",#{name},"%")
            </if>
        </where>
    </sql>

    <!-- 基于条件查询日志表中的记录总数 -->
    <select id="getRowCount"
            resultType="int">
        select count(*)
        <include refid="queryWhereId"/>
    </select>

    <!-- 基于条件查询当前页记录信息 -->
    <select id="findPageObjects" resultType="com.cy.pj.sys.entity.SysRole">
        select *
        <include refid="queryWhereId"/>
        order by createdTime desc
        limit #{startIndex},#{pageSize}
    </select>

</mapper>